.text-center {
    margin-left: 55px;
}
input {
    margin-left: 20px;

}
label {
    margin-left: 15px;
}
.btn {
    margin-left: 10px;
    display: inline;
}
h1 {
    text-align: center;
}
.actions {
    width: 180px;
}
