input {
    margin-left: 20px;

}
label {
    margin-left: 20px;
}
.btn {
    display: inline;
}
/*h1 {
    text-align: center;
}*/
.actions {
    width: 300px;
}
.form-group {
    display: block;
}
.profile {
    text-align: center;
}
.card {
    margin: 0 auto;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
