<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Books Home</title>
        {% load static %}
        <!-- CSS -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'books/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'books/font-awesome/css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'books/kartik-v-bootstrap-star-rating-19120d9/css/star-rating.css'%}"  media="all">
        <link rel="stylesheet" href="{% static 'books/css/form-elements.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'books/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'books/font-awesome/css/font-awesome.min.css'%}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static', filename='ico/favicon.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'books/ico/apple-touch-icon-144-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'books/ico/apple-touch-icon-114-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'books/ico/apple-touch-icon-72-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'books/ico/apple-touch-icon-57-precomposed.png'%}">

    </head>
    <body>

        <div class="clearfix">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/logout">
                    <img class="brand" alt="Brand" src="{% static 'books/img/brand.png'%}" width="45px" height="45px">
                  </a>
                </div>
                <ul class="nav nav-pills pull-right navbar-right">
                    <li role="presentation"><a class="navbar-brand dojo" href="{% url 'add'%}">Add Book and Review</a></li>
                    <li role="presentation"><a href="{% url 'logout'%}" class="btn btn-info btn-lg active">Logout</a></li>
                </ul>
              </div>
            </nav>
        </div>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close fade" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                            </div>
                          {% endfor %}
                        {% endif %}
                        <!-- with all the data we can then construct a more structured output -->
                        <div class="col-sm-5">
                            <div class="row">
                                <h1>Recent Book Reviews:</h1>
                            </div>
                            {% for review in recent %}
                                <div class="row">
                                    <label for="input-2" class="control-label"><h3><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h3></label>
                                    <input id="input-4" value="{{review.rating}}" name="input-4" class="rating rating-loading" data-show-clear="false" data-show-caption="true" data-size="sm">
                                    <p><a href="/user/{{review.reviewer.id}}">{{review.reviewer.name}}</a> says: {{review.review}}</p>
                                    <p>Posted on: {{review.created_at|date}}</p>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-5">
                                <div class="row">
                                    <ul class="nav nav-pills pull-right navbar-right">
                                        <li role="presentation"><h1>Other Books with Reviews:</h1></li>
                                    </ul>
                                </div>
                                <div class="scroll" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                    {% for review in more %}
                            	        <h3><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h3>
                                    {% endfor %}
                            	</div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">

        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by Ramon Geronimo at <a href="http://linkedin.com/in/rgero215" target="_blank"><strong>RGERO215</strong></a></p>
        			</div>

        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script type="text/javascript" src="{% static 'books/js/jquery-1.11.1.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'books/bootstrap/js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'books/kartik-v-bootstrap-star-rating-19120d9/js/star-rating.js'%}"></script>
        <script type="text/javascript" src="{% static 'books/js/scripts.js'%}"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
    </body>
</html>
