<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'time_display/css/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'time_display/css/bootstrap-4.0.0-beta/docs/4.0/examples/starter-template/starter-template.css'%}">
        <link rel="stylesheet" href="{% static 'time_display/css/style.css'%}">
        <script type="text/javascript" src="{% static 'time_display/js/jquery-3.2.1.js'%}"></script>
        <script type="text/javascript" src="{% static 'time_display/css/bootstrap-4.0.0-beta/assets/js/vendor/popper.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'time_display/css/bootstrap-4.0.0-beta/dist/js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'time_display/js/script.js'%}"></script>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h1>The current time and date:</h1>
            </div>
            <div class="jumbotron">
                <h1 class="datetime">{{date}}</h1>
                <h1 class="datetime">{{time}}</h1>
            </div>
        </div>
    </body>
</html>
