<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-4.0.0-beta/docs/4.0/examples/starter-template/starter-template.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.0.0-beta/assets/js/vendor/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.0.0-beta/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <form class="gold" action="/" method="post">
                <label for="gold"> Your Gold:</label>
                <input type="text" name="gold" value="{{session}}">
            </form>
            <div class="jumbotron">
                <div class="card" style="width: 16rem;">
                  <img class="card-img-top" src="{{url_for('static', filename='images/farm.jpg')}}" alt="Card image cap">
                  <div class="card-body">
                      <form action="/process_money" method="post">
                          <input type="hidden" name="place" value="farm" />
                          <h4 class="card-title">Farm</h4>
                          <p class="card-text">(earns 10-20 golds)</p>
                          <input class="btn btn-primary" type="submit" value="Find Gold!"/>
                      </form>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/cave.jpg')}}" alt="Card image cap">
                    <div class="card-body">
                        <form action="/process_money" method="post">
                            <input type="hidden" name="place" value="cave" />
                            <h4 class="card-title">Cave</h4>
                            <p class="card-text">(earns 5-10 golds)</p>
                            <input class="btn btn-primary" type="submit" value="Find Gold!"/>
                        </form>
                    </div>
                </div>
                <div class="card" style="width: 16rem;">
                  <img class="card-img-top" src="{{url_for('static', filename='images/house.jpg')}}" alt="Card image cap">
                  <div class="card-body">
                      <form action="/process_money" method="post">
                          <input type="hidden" name="place" value="house" />
                          <h4 class="card-title">House</h4>
                          <p class="card-text">(earns 2-5 golds)</p>
                          <input class="btn btn-primary" type="submit" value="Find Gold!"/>
                      </form>
                  </div>
                </div>
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/casino.jpg')}}" alt="Card image cap">
                    <div class="card-body">
                        <form action="/process_money" method="post">
                            <input type="hidden" name="place" value="casino" />
                            <h4 class="card-title">Casino</h4>
                            <p class="card-text">(earns/takes 0-50 golds)</p>
                            <input class="btn btn-primary" type="submit" value="Find Gold!"/>
                        </form>
                    </div>
                </div>
            </div>
            <form class="activities" action="/" method="post">
                <label for="activities">Activities:</label>
                <div class="scroll" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                  {% for activity in places %}
                      {% if activity.won == False %}
                      <h4 class="loss">Enter a {{activity.place}} and lost {{activity.gold}} golds...Ouch ({{activity.time}})</h4>
                      {% else %}
                      <h4 class="earned">Earned {{activity.gold}} golds from the {{activity.place}}! ({{activity.time}})</h4>
                      {% endif %}
                  {% endfor%}
                </div>
            </form>
            <form class="reset" action="/reset" method="post">
                <input class="btn btn-danger" type="submit" name="reset" value="Reset Activities">
            </form>
        </div>
    </body>
</html>
