<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login &amp; Register</title>
        {% load static %}
        <!-- CSS -->

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'login_registration/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'login_registration/font-awesome/css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'login_registration/css/form-elements.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_registration/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'login_registration/font-awesome/css/font-awesome.min.css'%}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{% static', filename='ico/favicon.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'login_registration/ico/apple-touch-icon-144-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'login_registration/ico/apple-touch-icon-114-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'login_registration/ico/apple-touch-icon-72-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'login_registration/ico/apple-touch-icon-57-precomposed.png'%}">

    </head>

    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Welcome</h1>
                            <div class="description">
                            	<p>
	                            	This is a <strong>"login and register forms"</strong> for my Coding Dojo assignment <strong>Belt Reviewer</strong>.
	                            	Try it out and to know more about me <a href="http://www.linkedin.com/in/rgero215" target="_blank"><strong>RGERO215</strong></a>.
                            	</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                              {% if messages %}
                                {% for message in messages %}
                                  <div class="alert alert-info alert-dismissible" role="alert">
                                  <button type="button" class="close fade" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  {{ message }}
                                  </div>
                                {% endfor %}
                              {% endif %}

                        <div class="col-sm-5">

                        	<div class="form-box">
                        		<div class="form-top">
                            		<div class="form-top-left">
                            			<h3>Sign up now</h3>
                                		<p>Fill in the form below to get instant access:</p>
                            		</div>
                            		<div class="form-top-right">
                            			<i class="fa fa-pencil"></i>
                            		</div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="/register" method="post" class="registration-form">
                                      {% csrf_token %}
                                    	<div class="form-group">
                                    		<label class="sr-only" for="form-name">Name</label>
                                        	<input type="text" name="name" placeholder="Name..." class="form-name form-control" id="form-name">
                                        </div>
                                        <div class="form-group">
                                        	<label class="sr-only" for="form-alias">Alias</label>
                                        	<input type="text" name="alias" placeholder="Alias..." class="form-alias form-control" id="form-alias">
                                        </div>
                                        <div class="form-group">
                                        	<label class="sr-only" for="form-email">Email</label>
                                        	<input type="text" name="email" placeholder="Email..." class="email form-control" id="form-email">
                                        </div>
                                      <div class="form-group">
                                        	<label class="sr-only" for="form-password">Password</label>
                                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                                        </div>
                                      <div class="form-group">
                                        	<label class="sr-only" for="form-password">Password Confirmation</label>
                                        	<input type="password" name="confirm_password" placeholder="Password Confirmation..." class="form-password form-control" id="form-password">
                                        </div>
                                        <button type="submit" class="btn">Register</button>
                                    </form>
                                </div>
                        	</div>

                        </div>

                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-5">

                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Login to the app</h3>
	                            		<p>Enter email and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="/login" method="post" class="login-form">
                                        {% csrf_token %}
				                    	<div class="form-group">
				                    		<label class="sr-only" for="email">Email</label>
				                        	<input type="text" name="email" placeholder="Email..." class="email form-control" id="email">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
				                        </div>
				                        <button type="submit" class="btn">Login</button>
				                    </form>
			                    </div>
		                    </div>

		                	<div class="social-login">
	                        	<h3>...or login with:</h3>
	                        	<div class="social-login-buttons">
		                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
		                        		<i class="fa fa-facebook"></i> Facebook
		                        	</a>
		                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
		                        		<i class="fa fa-twitter"></i> Twitter
		                        	</a>
		                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
		                        		<i class="fa fa-google-plus"></i> Google Plus
		                        	</a>
	                        	</div>
	                        </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">

        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by Ramon Geronimo at <a href="http://linkedin.com/in/rgero215" target="_blank"><strong>RGERO215</strong></a></p>
        			</div>

        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script type="text/javascript" src="{% static 'login_registration/js/jquery-1.11.1.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'login_registration/bootstrap/js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'login_registration/js/scripts.js'%}"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
